@import url(colors.css);
@import url(animation.css);

::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #273036;
    border-radius: 25px;
}
html, body {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
}

body, a {
    text-decoration: none;
    color: #fff;
}

.messages {
    position: fixed;
    bottom: 5px;
    right: 60px;
}

@media(max-width: 768px) {
    .messages {
        position: fixed;
        bottom: 5px;
        right: 30px;
    }
}

.sidebar-btn {
    z-index: 1 !important;
}

.active {
    font-weight: bold;
}

.social {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}

.divider {
    width: 110%;
}


